
        /*   This is for All style Background   */

        .Background
        {
            background-color: red; /* Color Name */
            background-color: rgb(0 0 0 / 50%); /* Red, Green, Blue, Alpha Channel */
            background-color: #FF0000; /* Color Hex Code */
            background-image: url("images.jpg"); /*  background image  */
            background-repeat: no-repeat;  
            background-attachment: fixed;
            background-position: left top;
            background-size: auto;
        }
    
        /*  
            background-repeat:   تكرارا الصوره 
                
            repeat       => تتكرر صورة الخلفية عموديًا وأفقيًا. سيتم قص الصورة الأخيرة إذا لم تكن مناسبة. هذا هو الافتراضي
            repeat-x     => تتكرر صورة الخلفية أفقياً فقط
            repeat-y	 => تتكرر صورة الخلفية عموديًا فقط
            no-repeat    => لا تتكرر صورة الخلفية. سيتم عرض الصورة مرة واحدة فقط
            space        => تتكرر صورة الخلفية قدر الإمكان دون تقليم. يتم تثبيت الصورتين الأولى والأخيرة على جانبي العنصر ، ويتم توزيع المسافة البيضاء بالتساوي بين الصور
            round        => تتكرر صورة الخلفية ويتم سحقها أو شدها لملء الفراغ (بدون فراغات)
            initial      => يعيّن هذه الخاصية إلى قيمتها الافتراضية
            inherit      => يرث هذه الخاصية من عنصرها الأصلي
        */
    
        /* 
             background-attachment: تمرير الصوره 
             scroll      => سيتم تمرير صورة الخلفية مع الصفحة. هذا هو الافتراضي
             fixed       => لن يتم تمرير صورة الخلفية مع الصفحة
             local       => سيتم تمرير صورة الخلفية مع محتويات العنصر
             initial     => يعيّن هذه الخاصية إلى قيمتها الافتراضية
             inherit     => يرث هذه الخاصية من عنصرها الأصلي
        */
    
    
         /* 
             background-size:  تحدد خاصية حجم صور الخلفية
             background-size: 75% 50%   left top
     
             auto	        =>  القيمة الافتراضية. يتم عرض صورة الخلفية بحجمها الأصلي
             length	        => يضبط عرض وارتفاع صورة الخلفية. تحدد القيمة الأولى العرض ، بينما تحدد القيمة الثانية الارتفاع. إذا تم تقديم قيمة واحدة فقط ، يتم تعيين الثانية على "تلقائي"
             percentage	    => يضبط عرض صورة الخلفية وارتفاعها بالنسبة المئوية للعنصر الأصل. تحدد القيمة الأولى العرض ، بينما تحدد القيمة الثانية الارتفاع. إذا تم تقديم قيمة واحدة فقط ، يتم تعيين الثانية على "تلقائي"
             cover	        => قم بتغيير حجم صورة الخلفية لتغطية الحاوية بأكملها ، حتى إذا كان عليها تمديد الصورة أو قصها قليلاً من أحد الحواف
             contain	    => قم بتغيير حجم صورة الخلفية للتأكد من أن الصورة مرئية بالكامل
             initial	    => يعيّن هذه الخاصية إلى قيمتها الافتراضية
             inherit	    => يرث هذه الخاصية من عنصرها الأصلي
         
              
        */
    
    
        /* 
             background-position:  تحدد خاصية موضع البداية لصورة الخلفية
              background-position:  10% 50px  left top
        */
