/*
 

                All Style For Opacity / Transparency   

*/

/* [ =========================================================================================== ] */

/* 
                            [  Opacity / Transparency  ] 


    
    opacity :
    
    

    Examples :. 

*/


img {
    opacity: 0.5;
}


div {
    opacity: 60%;
}